.tree-view_arrow {
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.tree-view_item {
    font-size: 16px;
}

.tree-view_item:hover, .tree-view_item-text:hover {
    /* color: yellow; */
    font-size: 16px;
    cursor: pointer;
    background-color: lightgray;
}

.tree-view_arrow-empty {
    color: yellow;
}

.folder-nav {
    margin-left: 8px;
}
